.form {
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--white);
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 47px 0;
}

.form__legend {
  text-align: center;
  margin-bottom: 40px;
}

.form__label {
  font:
    9px/1 normal medium Inter,
    sans-serif;
  margin-bottom: 8px;
  color: var(--secondary);
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--blue);
  outline: none;
  padding: 5px 0;
}

.form__input_hidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__error {
  font:
    9px/1 normal medium Inter,
    sans-serif;
  margin-bottom: 16px;
}

.form__error:last-of-type {
  margin-bottom: 0;
}

.form__error_hidden {
  visibility: hidden;
}

.form__submit {
  border: none;
  border-radius: 8px;
  background: var(--blue);
  padding: 12px 0;
  margin-bottom: 14px;
  cursor: pointer;
}

.form__submit_disabled {
  opacity: 0.5;
}

.form__link {
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

.form__cancel {
  border: none;
  background: none;
  cursor: pointer;
}

.form__cancel:hover {
  opacity: 0.7;
}

.form__file-button {
  border: none;
  background: none;
  text-decoration: underline;
  width: 100%;
  max-width: 140px;
  text-align: center;
  margin: 0 auto 20px auto;
  padding: 0;
  cursor: pointer;
}

.form__file-name {
  margin: 0 auto;
}
