<form class="form">
  <fieldset class="form__fieldset">
    <legend class="text text__description form__legend">Добавить пользователя</legend>
    <label for="login" class="form__label">Логин</label>
    <input
      type="text"
      name="login"
      id="login"
      class="text text__input text_primary form__input"
      value={{login}}
    />
  </fieldset>
  <button
    type="submit"
    class="text text__input text_button form__submit form__submit_disabled"
  >Добавить
  </button>
</form>

<link rel="stylesheet" href="../styles/form.css" />
<link rel="stylesheet" href="../styles/text.css" />
