<button class="text text_ascendant text__input form__file-button">Выберите файл
  на компьютере</button>
<p class="text text__caption text_secondary form__file-name">image.png</p>

<link rel="stylesheet" href="../styles/form.css" />
<link rel="stylesheet" href="../styles/text.css" />