<section class="error">
  <h1 class="text text__title text_primary error__title">{{text}}</h1>
  <p
    class="text text__description text_primary error__description"
  >{{description}}</p>
  <a
    href={{link}}
    class="text text__caption text_ascendant error__link"
  >{{linkText}}</a>
</section>

<link rel="stylesheet" href="../styles/error.css" />
<link rel="stylesheet" href="../styles/text.css" />
