<form class="form">
  <fieldset class="form__fieldset">
    <legend
      class="text text__description text_primary form__legend"
    >{{legend}}</legend>
     {{> inputs}}
  </fieldset>
  {{> buttons}}
</form>

<link rel="stylesheet" href="../styles/form.css" />
<link rel="stylesheet" href="../styles/text.css" />


