<section class="profile">
  <div class="profile__leave-container">
    <button class="profile__leave-button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="28"
        height="28"
        viewBox="0 0 28 28"
        fill="none"
      >
        <circle
          cx="14"
          cy="14"
          r="14"
          transform="rotate(-180 14 14)"
          fill="#3369F3"
        />
        <rect
          x="20"
          y="14.8"
          width="11"
          height="1.6"
          transform="rotate(-180 20 14.8)"
          fill="white"
        />
        <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6" />
      </svg>
    </button>
  </div>
  <div class="profile__form-container">
    <div class="profile__image-container">
      <img class="profile__image" src="/src/assets/avatar.svg" alt="Avatar" />
      <div
        class="text text__input text_button profile__edit-image {{editAvatar}}"
      >Поменять аватар</div>
    </div>
    <form class="profile__form">
      <fieldset class="profile__form-fieldset">
        <legend class="text text_primary profile__form-legend">Смена пароля</legend>
        <div class="profile__form-input-group">
          <label for="oldPassword" class="text text__input text_primary">Старый
            пароль</label>
          <input
            type="password"
            name="oldPassword"
            id="oldPassword"
            class="text text__input text_secondary profile__form-input"
            value={{oldPassword}}
          />
        </div>
        <div class="profile__form-input-group">
          <label for="newPassword" class="text text__input text_primary">Новый
            пароль</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            class="text text__input text_secondary profile__form-input"
            value={{newPassword}}
          />
        </div>
        <div class="profile__form-input-group">
          <label
            for="repeatPassword"
            class="text text__input text_primary"
          >Повторить новый пароль</label>
          <input
            type="password"
            name="repeatPassword"
            id="repeatPassword"
            class="text text__input text_secondary profile__form-input"
            value={{repeatPassword}}
          />
        </div>
      </fieldset>
      <button
        class="text text__input text_button profile__form-submit"
      >Сохранить</button>
    </form>
  </div>
</section>

<link rel="stylesheet" href="../styles/profile.css" />
<link rel="stylesheet" href="../styles/text.css" />
