<div class="profile__form-button-group">
  <div class="profile__form-input-group">
    <button
      class="text text__input text_ascendant profile__form-button"
    >Изменить данные</button>
  </div>
  <div class="profile__form-input-group">
    <button
      class="text text__input text_ascendant profile__form-button"
    >Изменить пароль</button>
  </div>
  <div class="profile__form-input-group">
    <button
      type="submit"
      class="text text__input text_error profile__form-button"
    >Выйти</button>
  </div>
</div>

<link rel="stylesheet" href="../styles/profile.css" />
<link rel="stylesheet" href="../styles/text.css" />